{{ define "base" }}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{CoreApp.Name}} - Service Monitoring</title>
    <meta name="title" content="{{CoreApp.Name}} - Service Monitoring">
    <meta name="description" content="{{CoreApp.Description}} {{CoreApp.Name}}">
    <base href="{{BasePath}}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">

    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="favicon.ico" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{CoreApp.Domain}}">
    <meta property="og:title" content="{{CoreApp.Name}} Service Monitoring">
    <meta property="og:description" content="{{CoreApp.Description}} {{CoreApp.Name}}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{CoreApp.Domain}}">
    <meta property="twitter:title" content="{{CoreApp.Name}} Service Monitoring">
    <meta property="twitter:description" content="{{CoreApp.Description}} {{CoreApp.Name}}">

    {{if USE_CDN}}
    <link rel="stylesheet" href="https://statping-ng.github.io/assets/hosted/vendor.css" />
    {{else}}
    <!-- VITE_CSS_PLACEHOLDER -->
    {{end}}
</head>
<body>
<noscript>
    <strong>We're sorry but Statping doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app" class="statping_container"></div>

{{if USE_CDN}}
<script src="https://statping-ng.github.io/assets/hosted/bundle.js"></script>
{{else}}
<!-- VITE_JS_PLACEHOLDER -->
{{end}}
</body>
</html>{{ end }}
